@use '../../components/buttons' as button;
@use '../../utilities/responsive';

.hero {
    min-height: 100vh;
    background: url(assets/images/hero-background@2x.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-rows:100px 1fr 100px;
        grid-template-areas: 
        'header'
        'main'
        'footer';
        align-items: center;
        position: relative;
    }

    &__main {
        grid-area: main;
        position: relative;
        // 480
        @include responsive.max(30rem) {
            padding: var(--gap-m) var(--gap-m);
        } 
    }

    &__footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        padding: 0 var(--gap-m);
        position: relative;
    }

    &__content {
        max-width: 60rem;
        width: 100%;
        // 820
        @include responsive.max(51.25rem) {
            text-align: center;
        }
    }

    &__title {
        margin: 2rem 0;
        font-size: clamp(2.25rem, -3.75rem + 20vw, 6.25rem);
        color: #fff;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-m);       
        // 820
        @include responsive.max(51.25rem){
            justify-content: center;
            gap: var(--gap-s);
        }
        // 480
        @include responsive.max(30rem) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        @include button.default();

            &-red {
                @include button.default(
                $background: var(--color-red));
            // 820
            @include responsive.max(51.25rem) {
                font-size: var(--font-size-2);
                padding: 1rem;
            }
            // 480
            @include responsive.max(30rem) {
                font-size: var(--font-size-1);
                padding: 0.5rem;
            }
        }
        // 820
        @include responsive.max(51.25rem) {
            font-size: var(--font-size-2);
            padding: 1rem;
        }
        // 480
            @include responsive.max(30rem) {
                font-size: var(--font-size-1);
                padding: 0.5rem;
            }
    }

    &__arrow {
        display: flex;
        gap: 1rem;
        transition: transform 0.5s;

        &:hover {
            transform: translate(0, 0.3rem);
            color: red;
            
            svg path {
                fill: red;
            }
        }
    }
}
.social {
    transition: 0.4s ease-out;
    &:hover {
        transform: scale(1.2);
    }
    &--facebook {
        padding-right: 10px;
        &:hover {
            svg path{ 
                transition: 1s ease-out;
                fill: red;
            };
        }
    }

    &--instagram {
        &:hover {
            svg path { 
                transition: 1s ease-out;
                fill: red}
        }
    }            
}
