@use '../../components/buttons' as button;
@use '../../utilities/responsive';

.news {
    min-height: 85rem;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: grid;
        min-width: 100vh;
        width: 100%;
        grid-template-areas: 
        'news__header news__header news__header'
        'news__main news__main news__sidebar'
        'news__main news__main news__sidebar-2'; 
    
    }
    
    &__header {
        grid-area: news__header;
        color: #3F4A53;
        margin-top: 1rem;
        font-size: clamp(2.5rem, 5vw, 5rem);

        //1323px
        @include responsive.max(1323px) {
            text-align: center;
        }
    }

    &__meta {
        color: rgba(67, 86, 101, 0.8);
        font-size: clamp(1rem, 2vw, 3rem);
    }

    &__title {
        font-size: clamp(3rem, 6vw, 6rem);
        margin: 20px 0;
    }

    &__main {
        grid-area: news__main;
        color: #3F4A53;
        padding-right: 6rem;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-m);
        
        @include responsive.max(40rem){
            justify-content: center;
            gap: var(--gap-s);
        }
    }

    &__button {
        font-family: var(--font-abo);
        font-size: var(--font-size-3);
        color: #3F4A53;
        padding: 0.5rem;

        &:hover {
            color: var(--color-accent);
        }

        &-red {
            @include button.default(
            $background: var(--color-red));
            padding: 0.5rem 1rem;
        }
    }

    &__sidebar .news__title{ 
        grid-area: news__sidebar;
        color: #3F4A53;
        font-size: clamp(2rem, 3vw, 5rem);
    }

    &__sidebar .news__meta{ 
        font-size: clamp(0.8rem, 1vw, 2rem);
    }
    
    &__sidebar-2 { 
        grid-area: news__sidebar-2;
    }
}