.promo {
    height: 20rem;
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        width: 400px;
        height: 200px;
        background-image: url(assets/images/card-2.jpg);
        background-repeat: no-repeat;
        padding: 20px 0 0 40px;
        margin: 0 20px;
        &.promo__card-1 {
            background-image: url(assets/images/card-1.jpg); 
            
        }
    }

    &__header {
        
        color:#b0b0b0;
        &-2 {
            color: #000;
        }
    }

    &__title {
        &-1 {
            color:#fff;
        }
        &-2 {
            color:red;
        }
    }

    &__descr {
        color:#ffffff5f;
        font-size: 11px;
        margin: 0;
    }

    &__arrow-2 {
        transform: translate( 320px, 13px );
        &1 {
        transform: translate( 320px, 6px );
        }
    }

}