@use '../../utilities/responsive';

.promo {
    height: 16rem;
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-top: 2rem;

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        grid-gap: 20px;
        //1400
        @include responsive.max(87.5rem) {
            padding-bottom: 20px;
        }
    }

    &__cards {
  
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 200px;
        background-image: url(assets/images/card-2.jpg);
        background-repeat: no-repeat;
        padding: 32px 0 0 40px;
        margin: 0 20px;

        &.promo__card-1 {
            background-image: url(assets/images/card-1.jpg);  
        }
    }

    &__header {
        
        color:#b0b0b0;
        &-2 {
            color: #000;
        }
    }

    &__title {
        &-1 {
            color:#fff;
        }
        &-2 {
            color:red;
        }
    }

    &__descr {
        color:#ffffff5f;
        font-size: 11px;
        margin: 0;
    }

    &__arrow-2 {
        transform: translate( 318px, 13px );
        transition: color 0.2s;
        transition: transform 0.2s;

        &:hover {
            transform: translate( 324px, 13px);
            svg path {
                fill: red;
            }
        }
    }

    &__arrow-21 {
        transform: translate( 318px, 6px );
        transition: color 0.2s;
        transition: transform 0.2s;
        
        &:hover {
            transform: translate( 324px, 6px);
            svg path {
                fill: red;
            }
        }
    }
}