.promo2 {
    height: 23rem;
    display: grid;
    grid-template-columns: var(--grid-container);
    margin: 3rem 0;
    
    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__img {
        position: relative;
        width: 100%;
        height: 370px;
        background-image: url(assets/images/promo2@2x.jpg);
        background-size: cover;
        background-position: center;
    }
    
    &__content {
        padding: 5rem;
        color: #ffffffbb;
    }
    
    &__title {
        font-size: clamp(3rem, 6vw, 6rem);
        margin: 1rem 0;
        color: #fff;
    }

    &__description {
        font-size: clamp(2rem, 3vw, 3rem);
    }

    &__rec {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 80px solid #0584FF;
        border-left: 80px solid transparent;
    }
    
    &__arrow-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(-14px, 70px);
        transition: transform 0.2s;

        &:hover {
            transform: translate(-8px, 70px);
            svg path {
                fill: red;
            }
        }
    }
}