:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: rgb(63, 74, 83);
  --color-dark-200: rgb(63, 74, 83);
  --color-dark-300: #3f4a53;
  --color-dark-500: #3f4a53;
  --color-dark-600: #3f4a53;
  --color-dark-700: rgba(63, 74, 83, 0.7);
  --color-dark-800: #3f4a53;
  --color-dark-900: #3f4a53;
  --color-red: #FD3E1D;
  --color-accent: #0584FF;
  --color-accent-200: #0582ffa6;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #ffffff80;
  --color-light: hsl(0, 0%, 100%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 50%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-abo: "Abolition", sans-serif;
  --font-indst: "Industry", sans-serif;
  --line-height: 1.5;
  --font-size-0: 0.75rem;
  --font-size: 1rem;
  --font-size-1: 2rem;
  --font-scale: 1.25;
  --font-scale-1: 1.5;
  --font-scale-2: 2;
  --font-scale-5: 5;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-1) * var(--font-scale-2));
  --font-size-4: calc(var(--font-size-2) * var(--font-scale-2));
  --font-size-5: calc(var(--font-size-0) * var(--font-scale-5));
  --font-size-6: calc(var(--font-size) * var(--font-scale-5));
  --font-size-7: calc(var(--font-size-2) * var(--font-scale-5));
  --page-width: 80rem;
  --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(2rem, 1fr) [full-start];
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-abo);
  font-style: oblique;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  font-family: var(--font-indst);
}

a {
  text-decoration: none;
  font-style: oblique;
  font-size: var(--font-size-2);
  color: white;
}

li {
  font-family: var(--font-indst);
  line-height: var(--line-height);
  list-style: none;
}

.header {
  background-color: rgba(0, 0, 0, 0.1882352941);
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.header__inner {
  grid-column: inner;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__branding {
  transition: all 0.35s ease;
}
.header__branding:hover .header__logo {
  fill: red;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-l);
  position: relative;
}
.menu__list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__link {
  position: relative;
  padding: 15px 0;
  font-family: var(--font-abo);
  font-size: var(--font-size-2);
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  transition: color 0.2s;
}
.menu__link:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu__link:hover:before {
  transform: scaleX(1);
}
.menu-button {
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu-button:focus .menu-button__hamburger, .menu-button--close .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
  background-color: red;
}
.menu-button:focus .menu-button__hamburger:before, .menu-button--close .menu-button__hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(95deg) translate(0, 0);
  top: 0;
}
.menu-button:focus .menu-button__hamburger:after, .menu-button--close .menu-button__hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: #fff;
}
.menu-button__hamburger:before, .menu-button__hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 2px;
  width: 100%;
  background-color: inherit;
}
.menu-button__hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu-button__hamburger:after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.footer {
  background-color: var(--color-dark);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--gap-m) 0 var(--gap-m) 0;
}
.footer__inner {
  grid-column: inner;
  position: relative;
  z-index: 2;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer__text {
  font-weight: 600;
}
.footer__share {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}
.footer__social {
  transform: translate(0px, 50px);
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.5019607843);
}

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: 64px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0;
  background: #fffcf2;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-up:hover {
  background-color: #f11448;
}

#map {
  width: 100%;
  height: 400px;
  background-image: url(assets/images/map@2x.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/hero-background@2x.jpg) no-repeat;
  background-size: cover;
  background-position: left;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.hero__inner {
  grid-column: inner;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
  align-items: center;
  position: relative;
}
.hero__main {
  grid-area: main;
  position: relative;
}
@media screen and (max-width: 30rem) {
  .hero__main {
    padding: var(--gap-m) var(--gap-m);
  }
}
.hero__footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap-m);
  position: relative;
}
.hero__content {
  max-width: 60rem;
  width: 100%;
}
.hero__title {
  margin: 2rem 0;
  font-size: var(--font-size-7);
  color: #fff;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
}
@media screen and (max-width: 40rem) {
  .hero__buttons {
    justify-content: center;
    gap: var(--gap-s);
  }
}
.hero__button {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 2rem;
  border: 0;
  transform: skew(-10deg);
  font-family: var(--font-abo);
  font-size: var(--font-size-3);
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-3);
}
.hero__button:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
}
.hero__button-red {
  background-color: var(--color-red);
  color: var(--color-light);
  padding: 1rem 2rem;
  border: 0;
  transform: skew(-10deg);
  font-family: var(--font-abo);
  font-size: var(--font-size-3);
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
}
.hero__button-red:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
}
.hero__arrow {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s;
}
.hero__arrow:hover {
  transform: translate(0, 0.3rem);
  color: red;
}
.hero__arrow:hover svg path {
  fill: red;
}
.hero__more {
  padding: 0 1rem;
  color: #fff;
}
.facebook {
  padding-right: 10px;
  transition: color 0.2s;
}
.facebook:hover {
  transition: transform 0.2s;
}
.facebook:hover svg path {
  fill: red;
}

.instagram:hover svg path {
  fill: red;
}

.promo {
  height: 20rem;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.promo__inner {
  grid-column: inner;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 200px;
  background-image: url(assets/images/card-2.jpg);
  background-repeat: no-repeat;
  padding: 20px 0 0 40px;
  margin: 0 20px;
}
.promo__card.promo__card-1 {
  background-image: url(assets/images/card-1.jpg);
}
.promo__header {
  color: #b0b0b0;
}
.promo__header-2 {
  color: #000;
}
.promo__title-1 {
  color: #fff;
}
.promo__title-2 {
  color: red;
}
.promo__descr {
  color: rgba(255, 255, 255, 0.3725490196);
  font-size: 11px;
  margin: 0;
}
.promo__arrow-2 {
  transform: translate(318px, 13px);
  transition: color 0.2s;
  transition: transform 0.2s;
}
.promo__arrow-2:hover {
  transform: translate(324px, 13px);
}
.promo__arrow-2:hover svg path {
  fill: red;
}
.promo__arrow-21 {
  transform: translate(318px, 6px);
  transition: color 0.2s;
  transition: transform 0.2s;
}
.promo__arrow-21:hover {
  transform: translate(324px, 6px);
}
.promo__arrow-21:hover svg path {
  fill: red;
}

.promo2 {
  height: 23rem;
  display: grid;
  grid-template-columns: var(--grid-container);
  margin: 3rem 0;
}
.promo2__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo2__img {
  position: relative;
  width: 100%;
  height: 370px;
  background-image: url(assets/images/promo2@2x.jpg);
  background-size: cover;
  background-position: center;
}
.promo2__content {
  padding: 5rem;
  color: rgba(255, 255, 255, 0.7333333333);
}
.promo2__title {
  margin: 1rem 0;
  color: #fff;
}
.promo2__rec {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 80px solid #0584FF;
  border-left: 80px solid transparent;
}
.promo2__arrow-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-14px, 70px);
  transition: transform 0.2s;
}
.promo2__arrow-2:hover {
  transform: translate(-8px, 70px);
}
.promo2__arrow-2:hover svg path {
  fill: red;
}

.news {
  height: 85rem;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.news__inner {
  grid-column: inner;
  display: grid;
  min-width: 100vh;
  width: 100%;
  grid-template-areas: "news__header news__header news__header" "news__main news__main news__sidebar-1" "news__main news__main news__sidebar-2";
}
.news__header {
  grid-area: news__header;
  color: #3F4A53;
  margin-top: 20px;
}
.news__meta {
  color: rgba(67, 86, 101, 0.8);
  font-size: 18px;
}
.news__title {
  margin: 20px 0;
}
.news__main {
  grid-area: news__main;
  color: #3F4A53;
  padding-right: 6rem;
}
.news__footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
}
@media screen and (max-width: 40rem) {
  .news__footer {
    justify-content: center;
    gap: var(--gap-s);
  }
}
.news__button {
  font-family: var(--font-abo);
  font-size: var(--font-size-3);
  color: #3F4A53;
  padding: 0.5rem;
}
.news__button:hover {
  color: var(--color-accent);
}
.news__button-red {
  background-color: var(--color-red);
  color: var(--color-light);
  padding: 1rem 2rem;
  border: 0;
  transform: skew(-10deg);
  font-family: var(--font-abo);
  font-size: var(--font-size-3);
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.news__button-red:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
}
.news__sidebar-1 {
  grid-area: news__sidebar-1;
  color: #3F4A53;
}
.news__sidebar-2 {
  padding-top: 6rem;
  grid-area: news__sidebar-2;
  color: #3F4A53;
}

.open {
  height: 48rem;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.open__inner {
  grid-column: inner;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "open__header" "open__main";
}
.open__header {
  grid-area: open__header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #3F4A53;
}
.open__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.open__text {
  margin-bottom: -12px;
  color: var(--color-accent-200);
}
.open__main {
  grid-area: open__main;
  display: flex;
  justify-content: space-between;
}
.open__card {
  width: 26rem;
  height: 30rem;
  padding: 2.5rem;
  margin: 10;
}
.open__card--title {
  padding-bottom: 20px;
}
.open__card-1 {
  background-color: #435665;
  color: white;
}
.open__card--description {
  margin-top: 20px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4);
}
.open__rec {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 80px solid rgba(255, 255, 255, 0.2);
  border-left: 80px solid transparent;
  transform: translate(296px, -40px);
}

.day-5 {
  color: #0584FF;
}
.day-5-dark {
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--font-indst);
}

td {
  text-align: left;
  padding: 10px;
}

td:nth-child(odd) {
  font-weight: 600;
}

td:nth-child(even) {
  text-align: right;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.open__card-1 tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.07);
}

/*# sourceMappingURL=style.css.map */
