@mixin default(
    $background: var(--color-accent),
    $color: var(--color-light),
    $hover-background: var(--color-accent-200),
    $hover-color: var(--color-light) 
    ) {
    background-color: $background;
    color: $color;
    padding: 1rem 2rem;
    border: 0;
    transform: skew(-10deg);
    font-family: var(--font-abo);
    font-size: var(--font-size-3);
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}